# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de entorno
.env

# Outputs generados
python/clientes_georeferenciados.csv

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
